@import "@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap/dist/css/bootstrap.css";
.splash {
  opacity: 1;
  background-color: #fff;
  background-image: url("../image/splash.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash .splash-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash .logo-social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 3%;
  left: 42%;
  align-items: center;
}
.splash .logo-social .social-icon ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 25px;
}
.splash .logo-social .social-icon ul li {
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 13px;
  font-size: 20px;
}
.splash .logo-social .social-icon ul li a {
  color: #000;
}
@media (max-width: 1429px) {
  .splash .logo-social {
    left: 40%;
  }
}
@media (max-width: 1200px) {
  .splash .logo-social {
    left: 35%;
  }
}
@media (max-width: 768px) {
  .splash .logo-social {
    left: 25%;
  }
}
@media (max-width: 576px) {
  .splash .logo-social {
    left: 15%;
  }
}

.home-page-hide {
  display: none !important;
}

.home-page {
  /* Styles for the header content */
  /* Styles for the 'who-are' section */
  /* Styles for the 'erp' section */
  /* Styles for the 'jobs-list' section */
  /* Styles for the contact-us section */
  /* Styles for the pricing section */
  /* Styles for the footer section */
}
.home-page .header {
  background-color: #E3D9C6; /* Set background color for the header */
  height: 100vh; /* Set header height to 100% of viewport height */
  /* Styles for header background images */
  /* Styles for the logo in the navbar */
  /* Styles for the input field */
  /* Styles for the label */
  /* Styles for the input box */
  /* Styles for the phone box */
  /* Styles for navbar navigation items */
  /* Additional styles for navbar navigation */
}
.home-page .header .header-top-back {
  position: absolute;
  z-index: 0;
}
.home-page .header .header-top-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: 0.3;
}
.home-page .header .navbar-logo {
  margin-right: 0;
}
.home-page .header .navbar-logo .logo-fectory {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.home-page .header .navbar-logo .logo-fectory img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-page .header input {
  background-color: #E3D9C6; /* Set background color for the input */
  border-radius: 30px; /* Set border radius for rounded corners */
  border: none;
  width: 100%;
  padding: 5px 25px;
}
.home-page .header input::-moz-placeholder {
  text-align: right; /* Align placeholder text to the right */
  background-color: none; /* Remove background color for placeholder */
  padding-right: 15px; /* Add padding to the right of the placeholder */
}
.home-page .header input::placeholder {
  text-align: right; /* Align placeholder text to the right */
  background-color: none; /* Remove background color for placeholder */
  padding-right: 15px; /* Add padding to the right of the placeholder */
}
.home-page .header label {
  right: 0 !important;
  padding-right: 25px;
  background-color: none !important;
}
.home-page .header .input-box {
  position: relative;
}
.home-page .header .input-box i {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.home-page .header .phone-box {
  display: flex;
  align-items: center;
}
.home-page .header .phone-box .text {
  font-size: 18px;
  padding-right: 5px;
}
.home-page .header .phone-box i {
  font-size: 20px;
  padding-right: 10px;
}
.home-page .header .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 600;
  padding: 0 0 5px;
  margin: 0 15px;
  border-bottom: 2px solid transparent;
  /* Styles for the hover effect */
}
.home-page .header .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 2px solid #086c6a; /* Add a line beneath the link on hover */
}
.home-page .header .navbar-nav {
  padding: 0 0 0 0;
}
.home-page .header .navbar-collapse {
  justify-content: space-between; /* Space items evenly within the container */
}
@media (max-width: 1095px) {
  .home-page .header .navbar-nav .nav-item .nav-link {
    margin: 0 10px;
  }
}
@media (max-width: 1046px) {
  .home-page .header .navbar-logo {
    width: 200px;
  }
}
@media (max-width: 1037px) {
  .home-page .header .input-box {
    display: flex;
    justify-content: flex-end;
  }
  .home-page .header .input-box input {
    width: 80%;
  }
  .home-page .header .input-box i {
    right: 55px;
  }
  .home-page .header .navbar-nav .nav-item .nav-link {
    margin: 0 8px;
    font-size: 15px;
  }
  .home-page .header .phone-box .text {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .home-page .header .navbar-logo .logo-fectory img {
    width: 35%;
  }
  .home-page .header .input-box input {
    border: 1px solid #086c6a;
  }
  .home-page .header nav.navbar {
    background-color: #e3d9c6;
    border-bottom: 1px solid #086c6a;
  }
  .home-page .header .navbar-toggler {
    background-color: #E3D9C6;
  }
  .home-page .header .navbar-nav .nav-item .nav-link {
    margin: 10px 0;
    width: 13%;
  }
  .home-page .header form {
    flex-direction: column;
    align-items: flex-start;
  }
  .home-page .header form .input-box {
    margin: 10px 0;
    justify-content: flex-start;
  }
  .home-page .header form .input-box i {
    right: 10px;
  }
  .home-page .header form .phone-box {
    margin: 10px 5px;
  }
  .home-page .header .header-content .content {
    padding: 80px 25px 0;
  }
}
.home-page .header-content {
  /* Flex container settings */
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  /* Margin, z-index, and positioning */
  margin-top: 120px;
  z-index: 1;
  position: relative;
  /* Content styling */
  /* Styling for the image of a man */
}
.home-page .header-content .content {
  width: 100%;
  padding: 40px 100px 0;
  direction: rtl; /* Right-to-left text direction */
  /* Header title styling */
  /* Paragraph styling */
  /* Button styling */
}
.home-page .header-content .content h1 {
  color: #086c6a; /* Primary color for the title */
  font-size: 40px;
  text-transform: capitalize; /* Capitalize text */
  font-weight: bold;
}
.home-page .header-content .content p {
  font-size: 20px;
  padding: 20px 0 40px;
}
.home-page .header-content .content button {
  background-color: #086c6a; /* Primary color for the button */
  color: #fff; /* Text color */
  padding: 15px 30px;
  transition: 0.3s; /* Transition effect on hover */
}
.home-page .header-content .content button:hover {
  background-color: transparent;
  color: #086c6a; /* Color on hover */
  border: 1px solid #086c6a; /* Border on hover */
  font-weight: bold;
}
.home-page .header-content .image-man {
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .home-page .header-content .content {
    padding: 80px 25px 0;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .home-page .header-content .image-man {
    display: none;
  }
}
@media (max-width: 750px) {
  .home-page .header-top-back {
    display: none;
  }
  .home-page .header-top-bottom {
    opacity: 1 !important;
  }
}
.home-page .who-are {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100vh;
  align-items: center;
  margin-bottom: 20px;
  /* Text box styling */
  /* Image wrap styling */
}
.home-page .who-are .text-box {
  direction: rtl;
  width: 50%;
  margin: 10px;
  /* Header title styling */
  /* Paragraph styling */
}
.home-page .who-are .text-box h3 {
  color: #086c6a; /* Primary color for the title */
  font-weight: bold;
  font-size: 35px;
}
.home-page .who-are .text-box p {
  font-size: 20px;
  padding: 20px 0 40px;
  line-height: 1.8;
}
.home-page .who-are .image-wrap {
  width: 50%;
  margin-right: 50px;
  /* Image box styling */
}
.home-page .who-are .image-wrap .image-box {
  position: relative;
  /* Individual item box styling */
}
.home-page .who-are .image-wrap .image-box .item-box {
  position: absolute;
}
.home-page .who-are .image-wrap .image-box .item-box:first-of-type {
  top: 10px;
  right: 0;
  z-index: 1;
}
.home-page .who-are .image-wrap .image-box .item-box:nth-of-type(2) {
  top: 40px;
  z-index: 0;
}
.home-page .who-are .image-wrap .image-box .item-box:nth-of-type(3) {
  top: -150px;
}
.home-page .who-are .image-wrap img {
  box-shadow: none;
}
.home-page .who-are .swiper-box .one {
  background-image: url(../image/who-1.svg);
  height: 300px;
  width: 470px;
}
.home-page .who-are .swiper-box .two {
  background-image: url(../image/who-2.svg);
  height: 300px;
  width: 450px;
}
.home-page .who-are .swiper-box .three {
  background-image: url(../image/who-3.svg);
  height: 300px;
  width: 470px;
}
.home-page .who-are .swiper-box .swiper-3d .swiper-slide-shadow {
  background: none !important;
}
@media (max-width: 991px) {
  .home-page .who-are {
    flex-direction: column;
    margin: 70px 0;
    height: 75vh;
  }
  .home-page .who-are .text-box {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .home-page .who-are {
    height: 100%;
  }
  .home-page .who-are .image-wrap {
    margin: 0;
  }
}
.home-page .erp-section {
  background-color: rgba(8, 108, 106, 0.4);
}
.home-page .erp-section .erp {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  /* Text box styling */
}
.home-page .erp-section .erp .text-box {
  margin-right: 20px;
  width: 50%;
  /* Header title styling */
  /* Unordered list styling */
}
.home-page .erp-section .erp .text-box h3 {
  color: #086c6a; /* Primary color for the title */
  font-weight: bold;
  font-size: 32px;
}
.home-page .erp-section .erp .text-box ul {
  list-style: none;
  padding-right: 0;
  /* List item styling */
}
.home-page .erp-section .erp .text-box ul li p {
  padding: 10px 0;
  line-height: 1.8;
}
@media (max-width: 991px) {
  .home-page .erp-section .erp {
    flex-direction: column-reverse;
  }
  .home-page .erp-section .erp img {
    width: 350px;
  }
  .home-page .erp-section .erp .text-box {
    text-align: center;
    width: 100%;
  }
  .home-page .erp-section .erp .text-box h3 {
    margin-top: 20px;
  }
  .home-page .erp-section .erp .text-box div ul li p {
    padding: 6px 0;
    line-height: normal;
  }
}
@media (max-width: 576px) {
  .home-page .erp-section .erp {
    height: 100%;
  }
}
.home-page .jobs-list {
  direction: rtl;
  display: flex;
  flex-direction: column;
  /* List head styling */
  /* List content styling */
}
.home-page .jobs-list .list-head p {
  padding: 10px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 2;
  color: #086c6a; /* Primary color for the text */
}
.home-page .jobs-list .list-content ul {
  list-style-type: disclosure-closed;
  /* List item styling */
}
.home-page .jobs-list .list-content ul li p {
  padding: 10px 0;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 600;
}
@media (max-width: 991px) {
  .home-page .jobs-list .list-head {
    margin: 10px 0 0;
  }
  .home-page .jobs-list .list-content ul {
    margin-bottom: 0;
  }
  .home-page .jobs-list .list-content ul li p {
    padding: 15px 0 5px;
    font-size: 16px;
    letter-spacing: 0;
  }
}
.home-page .contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Styles for the contact title */
  /* Styles for the main contact section */
}
.home-page .contact-us .contact-title {
  margin-bottom: 50px;
  /* Title styling */
}
.home-page .contact-us .contact-title h3 {
  direction: rtl;
  font-weight: 700;
  color: #086c6a;
  padding-right: 30px;
}
.home-page .contact-us .main-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* Styles for the left section containing the form */
  /* Styles for the right section containing contact information */
}
.home-page .contact-us .main-contact .left-section {
  background-color: #086c6a;
  width: 65%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  /* Form styling */
}
.home-page .contact-us .main-contact .left-section form {
  /* Styles for the submit button */
}
.home-page .contact-us .main-contact .left-section form input {
  text-align: end;
}
.home-page .contact-us .main-contact .left-section form label {
  right: 0 !important;
  text-align: end !important;
}
.home-page .contact-us .main-contact .left-section form .form-floating:focus > label {
  right: 0 !important;
}
.home-page .contact-us .main-contact .left-section form .form-floating > label {
  right: 0 !important;
  left: auto !important;
}
.home-page .contact-us .main-contact .left-section form .submit-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page .contact-us .main-contact .left-section form .submit-box button {
  background-color: #E3D9C6;
  color: #086c6a;
  border: 1px solid #086c6a;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
.home-page .contact-us .main-contact .left-section form .submit-box button:hover {
  transform: scale(1.1);
}
.home-page .contact-us .main-contact .right-section {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #E3D9C6;
  width: 30%;
  height: 420px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  /* Styles for different contact information items */
}
.home-page .contact-us .main-contact .right-section p {
  padding: 8px 0;
}
.home-page .contact-us .main-contact .right-section p a {
  text-decoration: none;
  color: #000;
}
.home-page .contact-us .main-contact .right-section p a i {
  font-size: 20px;
  padding-left: 10px;
}
.home-page .contact-us .main-contact .right-section p a img {
  margin-left: 10px;
}
.home-page .contact-us .main-contact .right-section p.text {
  font-size: 24px;
  font-weight: 700;
  color: #086c6a;
}
.home-page .contact-us .main-contact .right-section p.phone i {
  color: #175FEA;
}
.home-page .contact-us .main-contact .right-section p.whatsapp i {
  color: #25D366;
}
.home-page .contact-us .main-contact .right-section p.gmail img {
  width: 20px;
  height: 20px;
}
@media (max-width: 991px) {
  .home-page .contact-us .contact-title {
    margin: 30px 0;
  }
  .home-page .contact-us .main-contact {
    flex-direction: column-reverse;
    gap: 0;
  }
  .home-page .contact-us .main-contact .right-section {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    border-radius: 0;
  }
  .home-page .contact-us .main-contact .right-section p:not(:first-of-type) {
    display: inline;
    font-size: 14px;
    margin: 0 8px;
  }
  .home-page .contact-us .main-contact .right-section p:not(:first-of-type) a img {
    margin-left: 5px;
  }
  .home-page .contact-us .main-contact .right-section p:not(:first-of-type) a i {
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding: 0 3px;
  }
  .home-page .contact-us .main-contact .left-section {
    box-shadow: none;
    width: 100%;
    border-radius: 0;
  }
}
@media (max-width: 575px) {
  .home-page .contact-us .main-contact .right-section {
    font-size: 13px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .home-page .contact-us .main-contact .left-section {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.home-page .price-section {
  background-color: rgba(8, 108, 106, 0.4);
  padding-bottom: 20px;
}
.home-page .price {
  /* Styles for the title of the pricing section */
  margin: 30px 0;
  /* Styles for the pricing cards */
}
.home-page .price .price-title h3 {
  color: #086c6a;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  padding: 40px 15px;
}
.home-page .price .price-card {
  /* Styles for the container of pricing items */
}
.home-page .price .price-card .box-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* Styles for individual pricing items */
}
.home-page .price .price-card .box-items .item {
  background-color: #EBEBEB;
  padding: 20px 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  width: 350px;
  transition: all 0.3s ease-in-out;
  /* Styles for the title of the pricing item */
  /* Styles for the price details of the pricing item */
  /* Styles for additional details of the pricing item */
  /* Hover styles for the pricing item */
}
.home-page .price .price-card .box-items .item .item-title {
  font-size: 22px;
  font-weight: 700;
  color: #086c6a;
  padding: 30px 0;
}
.home-page .price .price-card .box-items .item .item-price {
  font-weight: 600;
  font-size: 15px;
  color: #656565;
  /* Styles for individual price details */
}
.home-page .price .price-card .box-items .item .item-price p {
  padding: 7px 0;
  /* Styles for icons in price details */
}
.home-page .price .price-card .box-items .item .item-price p .icon {
  margin-left: 5px;
}
.home-page .price .price-card .box-items .item .item-details {
  font-size: 16px;
  font-weight: 600;
  width: 60%;
  margin: 20px 0;
  /* Styles for the button within the pricing item */
}
.home-page .price .price-card .box-items .item .item-details .btn {
  transition: all 0.3s ease-in-out;
  padding: 8px 30px;
  width: 100%;
  color: #fff;
  background-color: #086c6a;
}
.home-page .price .price-card .box-items .item:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #086c6a;
  position: relative;
  /* Styles for text color during hover */
  /* Styles for price details during hover */
  /* Styles for additional details during hover */
}
.home-page .price .price-card .box-items .item:hover .item-title {
  color: #fff;
}
.home-page .price .price-card .box-items .item:hover .item-price {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}
.home-page .price .price-card .box-items .item:hover .item-details {
  font-size: 16px;
  font-weight: 600;
  width: 60%;
  margin: 20px 0;
  /* Styles for the button during hover */
}
.home-page .price .price-card .box-items .item:hover .item-details .btn {
  border: 2px solid #fff;
  transform: translateY(-10px);
}
@media (max-width: 1200px) {
  .home-page .price .price-card .box-items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
  .home-page .price .price-card .box-items .item {
    width: 300px;
  }
  .home-page .price .price-card .box-items .item .item-price {
    font-size: 14px;
  }
  .home-page .price .price-card .box-items .item:hover .item-price {
    font-size: 14px;
  }
  .home-page .price .price-card .box-items .item:hover .item-details {
    transform: none;
  }
  .home-page .price .price-card .box-items .item:hover .item-details button {
    transform: none;
  }
}
@media (max-width: 767px) {
  .home-page .price .price-card .box-items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-content: center;
    justify-items: center;
  }
  .home-page .price .price-card .box-items .item {
    width: 300px;
  }
  .home-page .price .price-card .box-items .item .item-price {
    font-size: 14px;
  }
}
.home-page .footer {
  background-color: #E3D9C6;
  margin: 45px 0 0;
  padding: 20px 0;
  /* Styles for the container of footer items */
}
.home-page .footer .box-items {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-around;
  margin: 20px 0;
  /* Styles for individual footer items */
}
.home-page .footer .box-items .item {
  /* Styles for the title of the footer item */
  /* Styles for the content of the footer item */
  /* Styles for the first footer item */
  /* Styles for the second footer item */
  /* Styles for the third footer item */
}
.home-page .footer .box-items .item h3 {
  color: #292929;
  font-weight: 600;
}
.home-page .footer .box-items .item p {
  /* Styles for hyperlinks within the content */
}
.home-page .footer .box-items .item p a {
  color: #444444;
  text-decoration: none;
  /* Styles for icons within hyperlinks */
  /* Styles for images within hyperlinks */
}
.home-page .footer .box-items .item p a i {
  padding-left: 15px;
  font-size: 21px;
  /* Styles for specific icons (e.g., WhatsApp, phone) */
}
.home-page .footer .box-items .item p a i.whatsapp {
  color: #39AE41;
}
.home-page .footer .box-items .item p a i.phone {
  color: #175FEA;
}
.home-page .footer .box-items .item p a img {
  margin-left: 15px;
}
.home-page .footer .box-items .item:nth-of-type(1) {
  text-align: end;
  width: 400px;
  /* Styles for images within the first footer item */
}
.home-page .footer .box-items .item:nth-of-type(1) img {
  margin-bottom: 15px;
}
.home-page .footer .box-items .item:nth-of-type(2) {
  text-align: center;
  /* Styles for the content within the second footer item */
}
.home-page .footer .box-items .item:nth-of-type(2) p {
  margin: 20px 0;
}
.home-page .footer .box-items .item:nth-of-type(3) {
  text-align: end;
  /* Styles for the content within the third footer item */
}
.home-page .footer .box-items .item:nth-of-type(3) p {
  margin: 20px 0;
}
@media (max-width: 991px) {
  .home-page .footer {
    margin: 0;
  }
  .home-page .footer .box-items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-page .footer .box-items .item {
    text-align: center !important;
  }
  .home-page .footer .box-items .item .logo-description {
    font-size: 13px;
    padding: 0 15px;
  }
  .home-page .footer .box-items .item:nth-of-type(1) {
    width: 350px;
  }
}

.form-floating > .form-control:focus ~ label {
  transform: scale(0.85) translateY(-0.5rem) translateX(3rem) !important;
}/*# sourceMappingURL=globals.css.map */