@import "../../app/_variables";
// Styles for the home page
.home-page-admin{
    // Styles for the admin navigation bar
    .nav-admin {
        position: fixed;
        width: 250px;
        height: 100%;
        background-color: #383131;
        // Styles for the content inside the admin navigation bar
        .nav-admin-content {
            // Styles for the title section of the navigation bar
            .nav-admin-content-title {
                color: #E8E8E8;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 5px;
                text-align: center;
                border-bottom: 1px solid rgb(232 232 232 / 28%);
                padding: 10px 0;
                margin-top: 10px;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                // Styles for individual list items in the navigation menu
                li {
                    width: 85%;
                    letter-spacing: 1px;
                    background-color: #565050;
                    border-radius: 5px;
                    margin: 6px 0;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    a {
                        color: #E8E8E8;
                        text-decoration: none;
                        display: block;
                        padding: 10px 0;
                    }
                    // Hover effect styles
                    &:hover {
                        background-color: #E8E8E8;
                        transform: scale(1.1);
                        a {
                            font-weight: 700;
                            color: #383131;
                        }
                    }
                }
            }
            // Styles for the navigation menu section
            .nav-admin-content-menu {
                ul {
                    padding: 0 10px 10px;
                }
            }
            // Styles for the title box
            .title-box {
                p {
                    color: #E8E8E8;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    text-align: center;
                    border-bottom: 1px solid rgb(232 232 232 / 28%);
                    border-top: 1px solid rgb(232 232 232 / 28%);
                    padding: 10px 0;
                    margin-top: 0px;
                }
            }
            // Styles for the bottom section of the navigation bar
            .nav-admin-content-bottom {
                ul {
                    padding: 0;
                    // Styles for individual list items in the bottom section
                    li {
                        a {
                            color: #E8E8E8;
                            text-decoration: none;
                            display: block;
                            padding: 10px 0;
                        }
                        // Hover effect styles
                        &:hover {
                            background-color: #E8E8E8;
                            transform: scale(1.1);
                            a {
                                font-weight: 700;
                                color: #383131;
                            }
                        }
                    }
                    // Styles for the logout item
                    .log-out {
                        background-color: #ABABAB;
                        margin-top: 20px;
                        a {
                            color: #414141;
                        }
                    }
                }
            }
        }
    }
    // Styles for the admin view page
    .admin-view-page {
        width: calc(100% - 250px);
        margin-right: 250px;
        background-color: #EFFBFB;
        height: 100%;
        // Styles for the admin account section
        .admin-acount {
            // Styles for the head page section
            .head-page {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                // Styles for the right content within the head page
                .right-content {
                    display: flex;
                    align-items: center;
                    // Styles for the notification icon
                    .notification {
                        position: relative;
                        margin-left: 10px;
                        // Styles for the notification count
                        .count {
                            position: absolute;
                            top: -5px;
                            right: -10px;
                            background-color: #46BF32;
                            color: #E8E8E8;
                            border-radius: 50%;
                            width: 22px;
                            height: 22px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        // Styles for the notification icon
                        .icon {
                            font-size: 25px;
                        }
                    }
                    // Styles for the search bar
                    .search-bar {
                        margin-right: 20px;
                        // Styles for the search box
                        .search-box {
                            width: 300px;
                            input {
                                // Input styles
                            }
                            label {
                                right: 0;
                                left: auto;
                            }
                        }
                    }
                }
            }
            // Styles for the account data section
            .acount-data {
                display: flex;
                align-items: center;
                // Styles for the name text
                .name-text {
                    margin-left: 20px;
                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        color: #383131;
                        line-height: 1.5;
                        font-weight: 600;
                    }
                    // Styles for the text
                    .text {
                        float: left;
                    }
                }
            }
            // Styles for the items box section
            .items-box {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 40px 0;
                // Styles for individual items in the box
                .item {
                    padding: 10px 20px;
                    border-radius: 5px;
                    // Styles for the item head section
                    .item-head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // Styles for the right part of the item head
                        .right {
                            padding: 2px;
                            // Styles for the right part text
                            p {
                                padding: 0;
                                margin: 0;
                                color: #454242;
                                padding-right: 5px;
                                font-weight: 600;
                                // &:nth-of-type(2){
                                //     color: ;
                                // }
                            }
                        }
                        // Styles for the left part of the item head
                        .left {
                            background-color: #EFFBFB;
                            padding: 7px 10px;
                            border-radius: 5px;
                            font-size: 22px;
                        }
                    }
                    // Styles for the first item in the box
                    &:first-of-type {
                        background-color: #BEB3D4;
                        // Styles for the item head in the first item
                        .item-head {
                            // Styles for the right part of the item head in the first item
                            .right {
                                border-right: 2px solid #4E2F8E;
                            }
                            // Styles for the left part of the item head in the first item
                            .left {
                                color: #4E2F8E;
                            }
                        }
                    }
                    // Styles for the second item in the box
                    &:nth-of-type(2) {
                        background-color: #83C7FF;
                        // Styles for the item head in the second item
                        .item-head {
                            // Styles for the right part of the item head in the second item
                            .right {
                                border-right: 2px solid #42A5F5;
                            }
                            // Styles for the left part of the item head in the second item
                            .left {
                                color: #42A5F5;
                            }
                        }
                    }
                    // Styles for the third item in the box
                    &:nth-of-type(3) {
                        background-color: #FFB783;
                        // Styles for the item head in the third item
                        .item-head {
                            // Styles for the right part of the item head in the third item
                            .right {
                                border-right: 2px solid #FF6B00;
                            }
                            // Styles for the left part of the item head in the third item
                            .left {
                                color: #FF6B00;
                            }
                        }
                    }
                    // Styles for the fourth item in the box
                    &:nth-of-type(4) {
                        background-color: #59A5A3;
                        // Styles for the item head in the fourth item
                        .item-head {
                            // Styles for the right part of the item head in the fourth item
                            .right {
                                border-right: 2px solid #086C6A;
                            }
                            // Styles for the left part of the item head in the fourth item
                            .left {
                                color: #086C6A;
                            }
                        }
                    }
                    // Styles for the item bottom section
                    .item-bottom {
                        margin: 15px 0 0;
                        // Styles for paragraph inside item bottom
                        p {
                            // Styles for the arrow icon
                            .arrow-icon {
                                i {
                                    // Icon styles
                                }
                                span {
                                    padding: 0 5px;
                                }
                                // Styles for decrement arrow
                                &.decrement {
                                    color: #F33939;
                                }
                                // Styles for increment arrow
                                &.increment {
                                    color: #96F387;
                                }
                            }
                            // Styles for the text
                            .text {
                                font-size: 13px;
                                font-weight: 600;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .supply-graph{
        width: 100%;
        height: 100%;
        // Styles for the graph section
        section{
            background: rgba(207, 207, 207, 1);
            padding: 15px 40px;
            box-shadow: 0 0 10px 0px rgba(0,0,0,0.8);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            .title{
                font-size: 20px;
                font-weight: 600;
                color: #383131;
                margin-bottom: 10px;
                align-self: flex-start;
            }
            .graph-section {
                width: 90%;
                height: 100%;
            }
        }
    }
    //sTART Style "box-item-chart-option" Insert from "Home page admin"
    .box-item-chart-option{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px;
        // Styles for the Pie Grah From Component -> Dachoard -> PieGraph
        .pie-graph{
            width: 50%;
            height: 350;
            // Design Section In Pie Graph
            section{
                background: rgba(207, 207, 207, 1);
                padding: 15px 40px;
                box-shadow: 0 0 10px 0px rgba(0,0,0,0.8);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
                // Title Of Pie Grahp
                .title{
                    font-size: 20px;
                    font-weight: 600;
                    color: #383131;
                    margin-bottom: 10px;
                    align-self: flex-start;
                }
                // Graph Section
                .graph-section {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 260px;
                }
            }
        }
        .add-order{
            width: 50%;
            height: 350px;
            background: rgba(207, 207, 207, 1);
            padding: 15px 40px;
            box-shadow: 0 0 10px 0px rgba(0,0,0,0.8);
            border-radius: 10px;
            .box-head{
                margin-bottom: 20px;
                .title{
                    margin: 0;
                    padding: 5px 0;
                    font-weight: 600;
                    color: #383131;
                }
            }
            .box-center{
                p{
                    display: flex;
                    align-items: center;
                    input[type="checkbox"]{
                        width: 17px;
                        height: 17px;
                        &:checked{
                            background-color: rgba(69, 143, 154, 1);
                        }
                    }
                    span{
                        padding: 0 10px;
                    }
                }
            }
            .box-bottom{
                form{
                    display: flex;
                    input{
                        width: 100%;
                        height: 40px;
                        border-radius: 5px;
                        border: 1px solid rgba(119, 93, 166, 1);
                        padding: 0 10px;
                        margin-bottom: 10px;
                    }
                    .submit-btn{
                        width: 40%;
                        height: 40px;
                        border-radius: 5px;
                        border: none;
                        background-color: rgba(119, 93, 166, 1);
                        color: #E8E8E8;
                        font-weight: 600;
                        margin: 0 5px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            border: 2px solid rgba(119, 93, 166, 1);
                            background-color: #E8E8E8;
                            color: #383131;
                        }
                    }
                }
            }
        }
    }
}

// Start Design WareHouse Page
.ware-house{
    background-color: $secondary-color;
    .wrap-box{
        .item-head{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            .logo-item{
                width: 70px;
                img{
                    width: 100%;
                }
            }
            .phone-item{
                transition: all 0.3s ease-in-out;
                .link-phone{
                    text-decoration: none;
                    color: #000;
                    span{
                        margin-left: 5px;
                    }
                }
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        .item-bottom{
            height: calc(100vh - 100px);
            display: flex;
            justify-content: center;
            align-items: center;
            .box-items{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                width: 90%;
                height: 65%;
                box-shadow: 0 0 20px 20px rgba(0,0,0,0.1);
                border-radius: 5px;
                .item{
                    text-decoration: none;
                    background-color: $primary-color;
                    width: 200px;
                    height: 260px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;
                    .item-icon{
                        width: 70px;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px dashed $secondary-color;
                        margin-bottom: 20px;
                        i{
                            color: $secondary-color;
                            font-size: 30px;
                        }
                    }
                    .item-text{
                        color: $secondary-color;
                        font-size: 20px;
                        font-weight: 600;
                        p{
                            padding: 0;
                            margin: 0;
                        }
                    }
                    &:hover{
                        background-color: $secondary-color;
                        border: 1px dashed $primary-color;
                        box-shadow: 0 0 0px 10px rgba(0,0,0,0.1);
                        transform: scale(1.1);
                        .item-icon{
                            border: 2px dashed $primary-color;
                            i{
                                color: $primary-color;
                            }
                        }
                        .item-text{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}


.table {
    text-align: center;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3rem 0 2rem;
        .head-box{
            display: flex;
            gap: 20px;
            text-align: center;
            justify-content: center;
            .add-head {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-color;
                border-radius: 5px;
                // font-size: 20px;
                font-weight: 600;
                color: #fff;
                width: 200px;
                transition: all 0.3s ease-in-out;
                padding: 10px 20px;
                p{
                    margin-bottom: 0;
                    text-align: center;
                    cursor: pointer;
                }
                &:hover {
                    background-color: #fff;
                    border: 1px solid $primary-color;
                    color: #000;
                }
            }
            .add-head-print{
                background-color: $primary-color;
                padding: 5px 15px;
                font-size: 20px;
                color: #fff;
                border-radius: 5px;
                transition: all 0.3s ease-in-out;
                p{
                    margin: 0;
                }
                &:hover {
                    background-color: #fff;
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }
            }
        }
        .search-box {
            display: flex;
            align-items: center;
            .option-manu {
                background-color: $primary-color;
                color: #fff;
                font-size: 20px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
                p {
                    margin-bottom: 0;
                }
            }
            .search-input {
                width: 300px;
                input {
                    text-align: end;
                    &::placeholder {
                        text-align: right;
                    }
                }
                label {
                    right: 0 !important;
                    text-align: end !important;
                    z-index: 0;
                }
            }
        }
    }

    // Start Desigin Acount Data
    .acount-data{
        direction: rtl;
        margin-bottom: 20px;
        .row{
            text-align: right;
        }
        .item{
            // display: flex;
            // align-items: flex-end;
            font-size: 18px;
            font-weight: 600;
            i{
                color: $primary-color;
            }
            .item-head{
                padding-left: 10px;
            }
            .item-data{
                padding-right: 10px;
            }
        }
    }


    // Start Desigin Table
    .table-contant {
        table {
            direction: rtl;
            .item-id-head{
                margin-bottom: 0 !important;
            }
            thead {
                border-top: 1px solid #8d8d8d;
                border-bottom: 1px solid #8d8d8d;
                tr {
                    th {
                        color: $primary-color;
                    }
                    .icon {
                        font-size: 20px !important;
                        color: $primary-color;
                    }
                }
            }
            
            // Start Desigin Table Body
            // Styles for the <tbody> element and its children
            tbody {
                // Styles for <tr> elements inside <tbody>
                tr {
                    // Common styles for both <th> and <td> elements inside <tr>
                    .item-id{
                        p{
                            margin-top: 7px;
                        }
                    }
                    th{
                        p{
                            margin: 0;
                        }
                    }
                    th,
                    td {
                        padding: 9px 7px 10px;
                        border-bottom: 1px solid #c0c0c0;
                    }
                    // Styles for <td> elements inside <tr>
                    td {
                        color: #000;
                        font-size: 16px;
                        font-weight: 600;
                        // padding: 15px 0;
                    }
                    // Styles for icons with class .icon
                    .icon {
                        font-size: 22px;
                        padding-right: 15px;
                        i {
                            cursor: pointer;
                        }
                        // Styles for icon with class .pen
                        &.pen {
                            color: #3c3c3c;
                        }
                        // Styles for icon with class .save
                        &.save {
                            color: #326dc5;
                        }
                        // Styles for icon with class .trash
                        &.trash {
                            color: #e33e33;
                        }
                    }
                }
            }
        }
    }
    .alert-address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .close-alert-address{
            background: none;
            align-self: flex-end;
            font-size: 28px;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }
        .text{
            background: none;
            font-size: 20px;
            font-weight: 600;
            color: #0a3622;
        }
    }
    /* Styles for a semi-transparent overlay */
    .overlay {
        position: fixed; /* Fixed position to cover the entire viewport */
        top: 0; /* Positioned at the top */
        left: 0; /* Positioned at the left */
        height: 100%; /* Full height */
        width: 100%; /* Full width */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
        z-index: 0; /* Behind other elements (z-index can be adjusted based on layering needs) */
    }

    /* Styles for the add-item form */
    .order-alrt{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    .add-item-form {
        z-index: 2; /* Above the overlay (z-index can be adjusted based on layering needs) */
        position: fixed; /* Fixed position to keep it in place */
        width: 100%; /* Full width */
        top: 0; /* Positioned 100px from the top */
        text-align: center; /* Center-align the content */
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        flex-direction: column;
        background-color: #fff;
        height: 100%;
        left: 0;
        /* Styles for the nested form container */
        &.order-manage{
            // margin-top: 50px; 
            .box-item{
                .close-from{
                    top: 80px !important;
                }
            } 
        }
        .box-item{
            .close-from{
                position: absolute;
                top: 10px;
                right: 20px;
                padding: 10px 20px;
                border-radius: 5px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                p{
                    margin: 0;
                }
            }
            .title-head{
                margin: 10px 0 0;
                font-size: 22px;
                color: $primary-color;
                font-weight: 600;
            }
        }
        


        .form-add {
            left: 0;
            height: 70%;
            background-color: #fff;
            // box-shadow: 0 0 20px 0px rgba(0 , 0 ,0 , 0.6);
            // border-radius: 10px;
            display: flex; /* Use flexbox for layout */
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
            padding: 0 0; /* Padding for spacing */
            width: 70%; /* 70% of the parent's width */
            /* Styles for the form itself */
            form {
                width: 80%; /* 80% of the form-add container's width */
                padding: 50px; /* Padding for spacing within the form */
                .old-data-show{
                    margin: 10px 0;
                    padding: 0 10px;
                    text-align: end;
                }
                input[type="date"]::-webkit-calendar-picker-indicator {
                    color: #000;
                    font-size: 22px;
                    padding-right: 10px;
                    margin: 0;
                    padding: 0;
                
                }
                input{
                    text-align: end;
                }
                label {
                    right: 0 !important;
                    text-align: end !important;
                }
                // .form-floating > .form-control:focus ~ label {
                //     transform: scale(0.85) translateY(-0.5rem) translateX(5rem) !important;}
                button{
                    width: 100%;
                    border-radius: 5px;
                    color: #fff;
                    background-color: $primary-color;
                    transition: all 0.3s ease-in-out ;
                    font-size: 20px;
                    margin: 10px 0;
                    padding: 5px;
                    &:hover{
                        border: 1px solid $primary-color;
                        color: $primary-color;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.print-component{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .print-table-section{
        height: 100%;
    }
    .close-box{
        text-align: start;
        font-size: 27px;
        margin: 0 10px 20px;
        @media print {
            &{
                display: none;
            }
        }
    }
    .item-col{
        height: 100%;
    }
}


@media print {
    .print-button-table {
        display: none;
    }
  }
