@import "../../app/_variables";
// Styles for the home page
.home-page-admin {
    // Styles for the admin navigation bar
    .nav-admin {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px 0 0;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 250px;
        height: 100%;
        background-color: #383131;
        // Styles for the content inside the admin navigation bar
        .nav-admin-content {
            // Styles for the title section of the navigation bar
            .nav-admin-content-title {
                color: #e8e8e8;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 5px;
                text-align: center;
                border-bottom: 1px solid rgb(232 232 232 / 28%);
                padding: 10px 0;
                margin-top: 10px;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                // Styles for individual list items in the navigation menu
                li {
                    width: 85%;
                    letter-spacing: 1px;
                    background-color: #565050;
                    border-radius: 5px;
                    margin: 6px 0;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    a {
                        color: #e8e8e8;
                        text-decoration: none;
                        display: block;
                        padding: 10px 0;
                    }
                    // Hover effect styles
                    &:hover {
                        background-color: #e8e8e8;
                        transform: scale(1.1);
                        a {
                            font-weight: 700;
                            color: #383131;
                        }
                    }
                }
            }
            // Styles for the navigation menu section
            .nav-admin-content-menu {
                ul {
                    padding: 0 10px 10px;
                }
            }
            // Styles for the title box
            .title-box {
                p {
                    color: #e8e8e8;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    text-align: center;
                    border-bottom: 1px solid rgb(232 232 232 / 28%);
                    border-top: 1px solid rgb(232 232 232 / 28%);
                    padding: 10px 0;
                    margin-top: 0px;
                }
            }
            // Styles for the bottom section of the navigation bar
            .nav-admin-content-bottom {
                ul {
                    padding: 0;
                    // Styles for individual list items in the bottom section
                    li {
                        a {
                            color: #e8e8e8;
                            text-decoration: none;
                            display: block;
                            padding: 10px 0;
                        }
                        // Hover effect styles
                        &:hover {
                            background-color: #e8e8e8;
                            transform: scale(1.1);
                            a {
                                font-weight: 700;
                                color: #383131;
                            }
                        }
                    }
                    // Styles for the logout item
                    .log-out {
                        background-color: #ababab;
                        margin-top: 20px;
                        a {
                            color: #414141;
                        }
                    }
                }
            }
        }
    }
    // Styles for the admin view page
    .admin-view-page {
        width: calc(100% - 250px);
        margin-right: 250px;
        background-color: #effbfb;

        // height: 100%;
        // Styles for the admin account section
        .admin-acount {
            // Styles for the head page section
            .head-page {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                // Styles for the right content within the head page
                .right-content {
                    display: flex;
                    align-items: center;
                    // Styles for the notification icon
                    .notification {
                        position: relative;
                        margin-left: 10px;
                        // Styles for the notification count
                        .count {
                            position: absolute;
                            top: -5px;
                            right: -10px;
                            background-color: #46bf32;
                            color: #e8e8e8;
                            border-radius: 50%;
                            width: 22px;
                            height: 22px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        // Styles for the notification icon
                        .icon {
                            font-size: 25px;
                        }
                    }
                    // Styles for the search bar
                    .search-bar {
                        margin-right: 20px;
                        // Styles for the search box
                        .search-box {
                            width: 300px;
                            input {
                                // Input styles
                            }
                            label {
                                right: 0;
                                left: auto;
                            }
                        }
                    }
                }
            }
            // Styles for the account data section
            .acount-data {
                display: flex;
                align-items: center;
                
                .name-text {
                    margin-left: 20px;
                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        color: #383131;
                        line-height: 1.5;
                        font-weight: 600;
                    }
                    // Styles for the text
                    .text {
                        float: left;
                    }
                }
            }
            // Styles for the items box section
            .items-box {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 40px 0;
                // Styles for individual items in the box
                .item {
                    padding: 10px 20px;
                    border-radius: 5px;
                    // Styles for the item head section
                    .item-head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // Styles for the right part of the item head
                        .right {
                            padding: 2px;
                            // Styles for the right part text
                            p {
                                padding: 0;
                                margin: 0;
                                color: #454242;
                                padding-right: 5px;
                                font-weight: 600;
                                // &:nth-of-type(2){
                                //     color: ;
                                // }
                            }
                        }
                        // Styles for the left part of the item head
                        .left {
                            background-color: #effbfb;
                            padding: 7px 10px;
                            border-radius: 5px;
                            font-size: 22px;
                        }
                    }
                    // Styles for the first item in the box
                    &:first-of-type {
                        background-color: #beb3d4;
                        // Styles for the item head in the first item
                        .item-head {
                            // Styles for the right part of the item head in the first item
                            .right {
                                border-right: 2px solid #4e2f8e;
                            }
                            // Styles for the left part of the item head in the first item
                            .left {
                                color: #4e2f8e;
                            }
                        }
                    }
                    // Styles for the second item in the box
                    &:nth-of-type(2) {
                        background-color: #83c7ff;
                        // Styles for the item head in the second item
                        .item-head {
                            // Styles for the right part of the item head in the second item
                            .right {
                                border-right: 2px solid #42a5f5;
                            }
                            // Styles for the left part of the item head in the second item
                            .left {
                                color: #42a5f5;
                            }
                        }
                    }
                    // Styles for the third item in the box
                    &:nth-of-type(3) {
                        background-color: #ffb783;
                        // Styles for the item head in the third item
                        .item-head {
                            // Styles for the right part of the item head in the third item
                            .right {
                                border-right: 2px solid #ff6b00;
                            }
                            // Styles for the left part of the item head in the third item
                            .left {
                                color: #ff6b00;
                            }
                        }
                    }
                    // Styles for the fourth item in the box
                    &:nth-of-type(4) {
                        background-color: #59a5a3;
                        // Styles for the item head in the fourth item
                        .item-head {
                            // Styles for the right part of the item head in the fourth item
                            .right {
                                border-right: 2px solid #086c6a;
                            }
                            // Styles for the left part of the item head in the fourth item
                            .left {
                                color: #086c6a;
                            }
                        }
                    }
                    // Styles for the item bottom section
                    .item-bottom {
                        margin: 15px 0 0;
                        // Styles for paragraph inside item bottom
                        p {
                            // Styles for the arrow icon
                            .arrow-icon {
                                i {
                                    // Icon styles
                                }
                                span {
                                    padding: 0 5px;
                                }
                                // Styles for decrement arrow
                                &.decrement {
                                    color: #f33939;
                                }
                                // Styles for increment arrow
                                &.increment {
                                    color: #96f387;
                                }
                            }
                            // Styles for the text
                            .text {
                                font-size: 13px;
                                font-weight: 600;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .supply-graph {
        width: 100%;
        height: 100%;
        // Styles for the graph section
        section {
            background: rgba(207, 207, 207, 1);
            padding: 15px 40px;
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            .title {
                font-size: 20px;
                font-weight: 600;
                color: #383131;
                margin-bottom: 10px;
                align-self: flex-start;
            }
            .graph-section {
                width: 90%;
                height: 100%;
            }
        }
    }
    //sTART Style "box-item-chart-option" Insert from "Home page admin"
    .box-item-chart-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px;
        padding: 0 0 30px;
        // Styles for the Pie Grah From Component -> Dachoard -> PieGraph
        .pie-graph {
            width: 50%;
            // height: 350;
            margin: 0 0 0 19px;

            // Design Section In Pie Graph
            section {
                background: rgba(207, 207, 207, 1);
                padding: 15px 40px;
                box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.8);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
                // Title Of Pie Grahp
                .title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #383131;
                    margin-bottom: 10px;
                    align-self: flex-start;
                }
                // Graph Section
                .graph-section {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 260px;
                }
            }
        }
        .add-order {
            width: 50%;
            height: 350px;
            background: rgba(207, 207, 207, 1);
            padding: 15px 40px;
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            margin: 0 19px 0 0;
            .box-head {
                margin-bottom: 20px;
                .title {
                    margin: 0;
                    padding: 5px 0;
                    font-weight: 600;
                    color: #383131;
                }
            }
            .box-center {
                p {
                    display: flex;
                    align-items: center;
                    input[type="checkbox"] {
                        width: 17px;
                        height: 17px;
                        &:checked {
                            background-color: rgba(69, 143, 154, 1);
                        }
                    }
                    span {
                        padding: 0 10px;
                    }
                }
            }
            .box-bottom {
                form {
                    display: flex;
                    input {
                        width: 100%;
                        height: 40px;
                        border-radius: 5px;
                        border: 1px solid rgba(119, 93, 166, 1);
                        padding: 0 10px;
                        margin-bottom: 10px;
                    }
                    .submit-btn {
                        width: 40%;
                        height: 40px;
                        border-radius: 5px;
                        border: none;
                        background-color: rgba(119, 93, 166, 1);
                        color: #e8e8e8;
                        font-weight: 600;
                        margin: 0 5px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            border: 2px solid rgba(119, 93, 166, 1);
                            background-color: #e8e8e8;
                            color: #383131;
                        }
                    }
                }
            }
        }
    }
}

// Start Design WareHouse Page
.ware-house {
    .wrap-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .item-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            .item-back {
                cursor: pointer;
            }
            .logo-item {
                width: 70px;
                img {
                    width: 100%;
                }
            }
            .phone-item {
                transition: all 0.3s ease-in-out;
                .link-phone {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    color: #000;
                    span {
                        margin-left: 5px;
                    }
                }
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        .item-bottom {
            // height: calc(100vh - 150px);
            width: 100%;
            margin: 10px 0;

            .box-items {
                background-color: #fff;
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
                gap: 20px;
                // width: 90%;
                // height: 65%;
                box-shadow: 0 0 15px 0 $background-primary-rgb;
                border-radius: 5px;
                padding: 30px;
                .item {
                    text-decoration: none;
                    // background-color: $primary-color;
                    // width: 200px;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid $primary-color;
                    transition: all 0.3s ease-in-out;
                    position: relative;
                    .item-link-path {
                        text-decoration: none;
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .item-icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 40px;
                        height: 40px;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        // border: 2px dashed $secondary-color;
                        margin-bottom: 20px;
                        display: none;
                        i {
                            color: $secondary-color;
                            font-size: 20px;
                        }
                    }
                    .item-text {
                        color: $primary-color;
                        font-size: 25px;
                        font-weight: 700;
                        p {
                            cursor: pointer;
                            padding: 0;
                            margin: 0;
                        }
                    }

                    .edite-section {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-radius: 5px;
                        width: 100%;
                        opacity: 0;
                        .delete,
                        .edite {
                            i {
                                cursor: pointer;
                                margin: 0 8px;
                                font-size: 20px;
                                background-color: #fff;
                                padding: 8px;
                                border-radius: 5px;
                            }
                        }
                        .edite {
                            color: $primary-color;
                        }
                        .delete {
                            color: rgba(227, 62, 51, 1);
                        }
                    }
                    &:hover {
                        background-color: $primary-color;
                        border: 1px dashed $primary-color;
                        box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.1);
                        // transform: scale(1.1);
                        .item-icon {
                            display: block;
                            box-shadow: 2px 2px 2px 0px rgb(255 255 255 / 30%);
                            i {
                                position: relative;
                                top: 10px;
                                left: -10px;
                                color: #fff;
                            }
                        }
                        .item-text {
                            color: #fff;
                        }
                        .edite-section {
                            opacity: 1;
                        }
                    }
                }
                @media (max-width: 576px) {
                    justify-items: center;
                    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
                    margin: 10px;
                    .item {
                        width: 130px;
                        height: 130px;
                        .item-icon {
                            width: 20px;
                            height: 20px;
                            i {
                                top: 10px !important;
                                left: 10px !important;
                                font-size: 10px;
                            }
                            font-size: 10px;
                        }
                        .item-text {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
    .add-box-item-warehouse{
        margin: 30px 0;
        text-align: left;
        display: flex;
        justify-content: flex-end;
        transition: all 0.3s ease-in-out;
        p{
            cursor: pointer;
            display: flex;
            justify-content: center;
            background-color: $primary-color;
            color: #fff;
            font-size: 18px;
            width: 200px;
            font-weight: 600;
            padding: 10px 0;
            border-radius: 5px;
            border: 1px solid transparent;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: #fff;
                color: $primary-color;
                border: 1px solid $primary-color;
                font-weight: 700;
            }
        }
    }
    .edit-form-warehouse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .box-item {
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 500px;
            height: 300px;
            border-radius: 8px;
            input {
                width: 300px;
                height: 60px;
                border-radius: 5px;
                border: 1px solid rgba(119, 93, 166, 1);
                padding: 0 10px;
                margin-bottom: 10px;
            }
            label {
                top: -7px;
                right: 0;
                background: none;
                background-color: none;
            }

            .form-floating > .form-control:focus ~ label {
                transform: scale(0.85) translateY(-0.5rem) translateX(3rem) !important;
            }
            .btn-groub {
                button {
                    margin: 0 10px;
                }
            }
        }
    }
}
.reborts-page {
    .title {
        font-size: 25px;
        color: $primary-color;
        margin-bottom: 20px;
        text-align: center;
        h3 {
            font-weight: bold;
            margin: 30px 0;
            padding: 0;
            color: $primary-color;
        }
    }
    .search-section {
        width: 350px;
        position: relative;
        margin: 20px 0 50px;
        i {
            position: absolute;
            z-index: 1;
            top: 20px;
            right: 8px;
        }
        label {
            right: 15px;
            background-color: none;
        }
        input {
            padding: 0 40px;
            // background-color: #E0E0E0;
        }
        .form-floating > .form-control:focus ~ label {
            transform: scale(0.85) translateY(-0.5rem) translateX(3rem) !important;
            // background-color: none !important;
        }
        // .form-control:focus ~ i {
        //     display: none;
        // }
    }
    .table-rebort-data {
        .head-box {
            border-top: 1px solid #8d8d8d;
            border-bottom: 1px solid #c0c0c0;
            padding: 10px 0;
            .data-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p.text {
                    color: $primary-color;
                    font-weight: 700;
                    font-size: 20px;
                    margin: 0;
                    padding: 0;
                }
            }
            .chart-title {
                p {
                    text-align: center;
                    color: $primary-color;
                    font-weight: 700;
                    font-size: 20px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .body-box {
            .right-section {
                height: 330px;
                overflow: hidden;
                overflow-y: overlay;
                margin: 15px 0;
                padding: 0 0 0 10px;
                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 0 0;
                    border-bottom: 1px solid #c0c0c0;
                    transition: all 0.3s ease-in-out;
                    .item-name,
                    .item-status {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 600;
                        color: $primary-color;
                    }
                    &.active {
                        background-color: $primary-color;
                        border-radius: 10px;
                        padding: 10px 20px 0;
                        p {
                            color: #fff;
                        }
                    }
                    &:hover {
                        &.active {
                            background-color: $primary-color;
                            border-radius: 10px;
                            padding: 10px 20px 0;
                            p {
                                color: #fff;
                            }
                        }
                        background-color: #ddd;
                        color: $primary-color;
                    }
                }
                &::-webkit-scrollbar {
                    width: 0.7em;
                }
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px $secondary-color;
                    background-color: #ccc;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $primary-color;
                    border-radius: 10px;
                    // outline: 1px solid slategrey;
                }
            }
            .left-section {
                height: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


.inventory-page{
    .order-product-page{
        position: absolute;
        top: 0px;
        right: 0;
        height: 100vh;
        background: #fff;
        width: 30%;
        .title-page-product{
            text-align: center;
            margin: 30px 0 0;
            color: $primary-color;
            font-size: 20px;
            font-weight: 700;
        }
        .box-items-orders{
            .item-order{
                .item{
                    border-radius: 10px;
                    height: 110px;
                    margin: 25px 30px;
                    border: 2px solid $primary-color;
                    // width: 100%;
                    display: flex;
                    position: relative;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    align-items: center;
                    .order-name{
                        width: 25%;
                        height: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $primary-color;
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        font-weight: 700;
                        color: #fff;
                        margin-right: 10px;
                        font-size: 15px;
                        p{
                            margin: 0;
                            padding: 0 0px 7px 10px;
                        }
                    }
                    .order-road{
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        .item-map{
                            margin: 0 10px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .circle-item{
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                border: 2px solid $primary-color;
                                background-color: #fff;
                                position: relative;
                                &.preparing{
                                    &:first-of-type{
                                        background-color: $primary-color;
                                    }
                                }
                                &.onroad{
                                    &:nth-of-type(2){
                                        background-color: $primary-color;
                                    }
                                }
                                &.onarrival{
                                    &:nth-of-type(3){
                                        background-color: $primary-color;
                                    }
                                }
                                &.delivered{
                                    background-color: $primary-color;
                                }
                            }
                            &:not(:last-of-type){
                                .circle-item{
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        width: 60px;
                                        height:2px;
                                        left: 17px;
                                        top: 7px;
                                        background: $primary-color;
                                    }
                                }
                            }
                            .text{
    
                            }
                        }
                        }
                    .order-date{
                        position: absolute;
                        top: 3px;
                        left: 0;
                        color: $primary-color;
                        .date-box{
                            display: flex;
                            flex-direction: row-reverse;
                            p{
                                padding: 0 10px;
                                margin-bottom: 10px;
                                font-size: 13px;
                                font-weight: 600;
                            }
                        }
                    }
                    @media (max-width: 1427px) {
                        // padding: 0 30px;
                        // justify-content: space-around;
                        .order-name{
                            padding: 0;
                            margin: 0;
                        }
                        .item-map{
                            &:not(:last-of-type){
                                .circle-item{
                                    &::after{
                                        // width: px !important;
                                        left: 16px !important;
                                        top: 6px !important;
                                    }
                                }
                            }
                        }
                        .order-road{
                            font-size: 12px;
                        }
                    }
                    @media (max-width: 1384px) {
                        // padding: 0 30px;
                        justify-content: space-around;
                        flex-direction: column;
                        height: 140px;
                        .order-name{
                            padding: 0;
                            margin: 0;
                            border-radius: 5px;
                            width: 60%;
                            height: 30px;
                            padding: 10px;
                            font-weight: 600;
                            font-size: 17px;
                            margin-top: 30px;
                            p{
                                padding: 10px ;
                            }
                            // color: $primary-color;
                        }
                        .item-map{
                            &:not(:last-of-type){
                                .circle-item{
                                    &::after{
                                        // width: px !important;
                                        left: 16px !important;
                                        top: 6px !important;
                                    }
                                }
                            }
                        }
                        .order-road{
                            font-size: 12px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .inventory-acount{
        width: calc(100% - 30%);
        background: $background-primary-rgb;
        .head-page {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            flex-direction: row-reverse;
            // Styles for the right content within the head page
            .right-content {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                // Styles for the notification icon
                .notification {
                    position: relative;
                    margin-left: 10px;
                    // Styles for the notification count
                    .count {
                        position: absolute;
                        top: -5px;
                        right: -10px;
                        background-color: #46bf32;
                        color: #e8e8e8;
                        border-radius: 50%;
                        width: 22px;
                        height: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    // Styles for the notification icon
                    .icon {
                        font-size: 25px;
                    }
                }
                // Styles for the search bar
                .search-bar {
                    margin-right: 20px;
                    // Styles for the search box
                    .search-box {
                        width: 300px;
                        input {
                            // Input styles
                        }
                        label {
                            right: 0;
                            left: auto;
                        }
                    }
                }
            }
            // Styles for the account data section
            .acount-data {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                .name-text {
                    margin-left: 20px;
                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        color: #383131;
                        line-height: 1.5;
                        font-weight: 600;
                    }
                    // Styles for the text
                    .text {
                        float: left;
                        font-size: 14px;
                        color: rgba(78, 78, 78, 1);
                    }
                }
            }
        }
    }
}



.table {
    text-align: center;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3rem 0 2rem;
        .head-box {
            display: flex;
            gap: 20px;
            text-align: center;
            justify-content: center;
            .add-head {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-color;
                border-radius: 5px;
                // font-size: 20px;
                font-weight: 600;
                color: #fff;
                width: 200px;
                transition: all 0.3s ease-in-out;
                padding: 10px 20px;
                p {
                    margin-bottom: 0;
                    text-align: center;
                    cursor: pointer;
                }
                &:hover {
                    background-color: #fff;
                    border: 1px solid $primary-color;
                    color: #000;
                }
            }
            .add-head-print {
                background-color: $primary-color;
                padding: 5px 15px;
                font-size: 20px;
                color: #fff;
                border-radius: 5px;
                transition: all 0.3s ease-in-out;
                p {
                    margin: 0;
                }
                &:hover {
                    background-color: #fff;
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }
            }
        }
        .search-box {
            display: flex;
            align-items: center;
            .option-manu {
                background-color: $primary-color;
                color: #fff;
                font-size: 20px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
                p {
                    margin-bottom: 0;
                }
            }
            .search-input {
                width: 300px;
                input {
                    text-align: end;
                    &::placeholder {
                        text-align: right;
                    }
                }
                label {
                    right: 0 !important;
                    text-align: end !important;
                    z-index: 0;
                }
            }
        }
    }

    .filter-table-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        .left,
        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 15px;
                font-weight: 700;
                cursor: pointer;
            }
        }
        .right {
            p {
                margin: 10px 10px 0;
                border: 1px solid #000;
                padding: 10px 20px;
                border-radius: 5px;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
                &:last-of-type {
                    margin: 10px 0 0 10px;
                }
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
                &.active {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        .left {
            p {
                margin: 10px 10px 0;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 0.3s ease-in-out;
                font-weight: 700;
                &:first-of-type {
                    margin: 10px 10px 0 0;
                    border: 1px solid rgba(255, 58, 117, 1);
                    color: rgba(255, 58, 117, 1);
                    &:hover {
                        background-color: rgba(255, 224, 233, 1);
                    }
                    &.active {
                        background-color: rgba(255, 224, 233, 1);
                    }
                }
                &:nth-of-type(2) {
                    color: rgba(126, 61, 166, 1);
                    border: 1px solid rgba(126, 61, 166, 1);
                    &:hover {
                        background-color: rgba(237, 226, 244, 1);
                    }
                    &.active {
                        background-color: rgba(237, 226, 244, 1);
                    }
                }
                &:last-of-type {
                    color: rgba(50, 116, 39, 1);
                    border: 1px solid rgba(50, 116, 39, 1);
                    &:hover {
                        background-color: rgba(189, 255, 178, 1);
                    }
                    &.active {
                        background-color: rgba(189, 255, 178, 1);
                    }
                }
            }
        }
    }

    // Start Desigin Acount Data
    .acount-data {
        direction: rtl;
        margin-bottom: 20px;
        .row {
            text-align: right;
        }
        .item {
            // display: flex;
            // align-items: flex-end;
            font-size: 18px;
            font-weight: 600;
            .item-head {
                padding-left: 10px;
            }
            .item-data {
                margin-right: 20px;
            }
        }
    }

    // Start Desigin Table
    .table-contant {
        table {
            direction: rtl;
            .item-id-head {
                margin-bottom: 0 !important;
            }
            thead {
                border-top: 1px solid #8d8d8d;
                border-bottom: 1px solid #8d8d8d;
                tr {
                    th {
                        color: $primary-color;
                    }
                    .icon {
                        font-size: 20px !important;
                        color: $primary-color;
                    }
                }
            }

            // Start Desigin Table Body
            // Styles for the <tbody> element and its children
            tbody {
                // Styles for <tr> elements inside <tbody>
                tr {
                    // Common styles for both <th> and <td> elements inside <tr>
                    .item-id {
                        p {
                            margin-top: 7px;
                        }
                    }
                    th {
                        p {
                            margin: 0;
                        }
                    }
                    th,
                    td {
                        padding: 9px 7px 10px;
                        border-bottom: 1px solid #c0c0c0;
                    }
                    // Styles for <td> elements inside <tr>
                    td {
                        color: #000;
                        font-size: 16px;
                        font-weight: 600;
                        // padding: 15px 0;
                    }
                    // Styles for icons with class .icon
                    .icon {
                        font-size: 22px;
                        padding-right: 15px;
                        i {
                            cursor: pointer;
                        }
                        // Styles for icon with class .pen
                        &.pen {
                            color: #3c3c3c;
                        }
                        // Styles for icon with class .save
                        &.save {
                            color: #326dc5;
                        }
                        // Styles for icon with class .trash
                        &.trash {
                            color: #e33e33;
                        }
                    }
                }
            }
        }
        td.chart-type {
            padding: 0 0 5px;
            margin: 0;
            width: 60px;
            .chart-type-section-table {
                display: flex;
                justify-content: center;
                width: 60px;
                height: 60px;
                canvas {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
        .status-chart {
            padding: 0 15px 8px 0;
        }
    }

    .head-select-order {
        width: 150px;
    }

    .select-box {
        .select-option-order {
            display: flex;
            align-items: center;
            justify-content: center;
            // margin: 5px 0;
            // width: 100px;
            &.active {
                font-size: 15px;
                font-weight: bold;
                &.done {
                    background-color: rgba(189, 255, 178, 1);
                    color: rgba(50, 116, 39, 1);
                }
                &.cansel {
                    background-color: rgba(255, 224, 233, 1);
                    color: rgba(255, 58, 117, 1);
                }
                &.loaded {
                    background-color: rgba(237, 226, 244, 1);
                    color: rgba(126, 61, 166, 1);
                }
                option {
                    background-color: #fff;
                    font-weight: 600;
                    color: #000;
                }
            }
            .select-option {
                // width: 200px;
                // height: 40px;
                border-radius: 5px;
                border: 1px solid #000;
                padding: 0 10px;
                margin: 0 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }

    .declare-chart-bottom {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        .first {
            .color {
                color: rgba(69, 143, 154, 1);
            }
        }
        .second {
            .color {
                color: rgba(255, 177, 183, 1);
            }
        }
        .first,
        .second {
            padding: 10px 5px;
            margin: 0 5px;
            border: 1px solid #ddd;
        }
        .text {
            background: none;
        }
        .color {
            background: none;
        }
    }
    .alert-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        .close-alert-address {
            background: none;
            align-self: flex-end;
            font-size: 25px;
            padding: 0;
            margin: 0;
            cursor: pointer;
            i{
                background-color: transparent !important;
            }
        }
        .text {
            background: none;
            font-size: 20px;
            font-weight: 600;
            color: #0a3622;
            margin:0 0 20px 0;
        }
    }
    /* Styles for a semi-transparent overlay */
    .overlay {
        position: fixed; /* Fixed position to cover the entire viewport */
        top: 0; /* Positioned at the top */
        left: 0; /* Positioned at the left */
        height: 100%; /* Full height */
        width: 100%; /* Full width */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
        z-index: 0; /* Behind other elements (z-index can be adjusted based on layering needs) */
    }

    /* Styles for the add-item form */
    .order-alrt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    .add-item-form {
        z-index: 2; /* Above the overlay (z-index can be adjusted based on layering needs) */
        position: absolute; /* Fixed position to keep it in place */
        width: 100%; /* Full width */
        top: 0; /* Positioned 100px from the top */
        text-align: center; /* Center-align the content */
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        flex-direction: column;
        background-color: #fff;
        // height: 100%;
        left: 0;
        /* Styles for the nested form container */
        &.order-manage {
            // margin-top: 50px;
            .box-item {
                .close-from {
                    top: 80px !important;
                }
            }
        }
        .box-item {
            .close-from {
                position: absolute;
                top: 10px;
                right: 20px;
                padding: 10px 20px;
                border-radius: 5px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                p {
                    margin: 0;
                }
            }
            .title-head {
                margin: 10px 0 0;
                font-size: 22px;
                color: $primary-color;
                font-weight: 600;
            }
        }

        .table-edit-page-only {
            thead {
                th {
                    border-top: 1px solid #8d8d8d;
                    border-bottom: 1px solid #8d8d8d;
                    padding: 0 10px;
                    text-align: center;
                    tr {
                        border: none;
                    }
                }
            }
        }

        .text-show-old-data {
            margin: 0;
            margin-top: 10px;
            padding: 5px 10px;
            span {
                padding-right: 20px;
            }
        }

        .form-add {
            left: 0;
            height: 70%;
            background-color: #fff;
            // box-shadow: 0 0 20px 0px rgba(0 , 0 ,0 , 0.6);
            // border-radius: 10px;
            display: flex; /* Use flexbox for layout */
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
            padding: 0 0; /* Padding for spacing */
            width: 70%; /* 70% of the parent's width */
            /* Styles for the form itself */
            form {
                width: 80%; /* 80% of the form-add container's width */
                padding: 50px; /* Padding for spacing within the form */
                .old-data-show {
                    margin: 10px 0;
                    padding: 0 10px;
                    text-align: end;
                }
                .form-inputs{
                    margin: 20px 0;
                }
                input[type="date"]::-webkit-calendar-picker-indicator {
                    color: #000;
                    font-size: 22px;
                    padding-right: 10px;
                    margin: 0;
                    padding: 0;
                }
                input {
                    text-align: end;
                }
                label {
                    right: 0 !important;
                    text-align: end !important;
                }
                // .form-floating > .form-control:focus ~ label {
                //     transform: scale(0.85) translateY(-0.5rem) translateX(5rem) !important;}
                button {
                    width: 100%;
                    border-radius: 5px;
                    color: #fff;
                    background-color: $primary-color;
                    transition: all 0.3s ease-in-out;
                    font-size: 20px;
                    margin: 10px 0;
                    padding: 5px;
                    &:hover {
                        border: 1px solid $primary-color;
                        color: $primary-color;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.print-component {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .print-table-section {
        height: 100%;
    }
    .close-box {
        text-align: start;
        font-size: 27px;
        margin: 0 10px 20px;
        @media print {
            & {
                display: none;
            }
        }
    }
    .item-col {
        height: 100%;
    }
}

@media print {
    .print-button-table {
        display: none;
    }
}

.overlay {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0; /* Positioned at the top */
    left: 0; /* Positioned at the left */
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 0; /* Behind other elements (z-index can be adjusted based on layering needs) */
}
